/*FONTS*/
@font-face {
	font-family: "Kroftsmann";
	src: url('Kroftsmann.ttf'), src:url("Kroftsmann-webfont.woff") format("woff"), url("Kroftsmann.otf") format("opentype"), url('Kroftsmann.eot'); /* IE */
}

.brand {
	font-family: "Kroftsmann", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	position: relative;
	top: -4px;
}

@font-face {
	font-family: "Fyodor";
	src: url('Fyodor-Bold.ttf'), src:url("Fyodor-Bold.woff") format("woff"), url("Fyodor-Bold.otf") format("opentype"), url('Fyodor-Bold.eot'); /* IE */
}

form,
input,
td,
thead,
tbody
{
	font-family: "Fyodor", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
}

.acct-prop, .fam-row {
	font-family: "Fyodor", Arial, sans-serif;
	color: gray;
	font-size: 12px;
}

.version {
	font-family: "Fyodor", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	float: right;
	position: relative;
	top: 16px;
}

form {
	border-top: 2px ridge lightgray;
	padding: 5px;
	margin: 0px;
}

body {
	margin: 0;
}

.logo-name-version {

	/*	padding: 1px;*/
}

img {
	padding: 2px;
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%
}


/*DASHBOARD MENU*/
.menu {
	font-family: "Fyodor", Arial, sans-serif;
	font-size: 14px;
	height: 200px;
	border: 2px ridge lightgray;
/*	padding: 2px;*/
}

.menu ul li {
	display: inline-block;

}

.menu ul li:hover {
	background-color: red;
	cursor: pointer;
}

.menu ul li:hover .comrades-dropdown-content {
	display: block;
}

.menu ul {
	margin: 0;
	padding: 0;
	background-color: lightgray;

}

  #triangle-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid black;
    }

 li span#triangle-down {
 	position: relative;
 	top:12px;
 }  

 /*DROPDOWN */
 .comrades-dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.comrades-dropdown-content a {
  color: black;
  padding: 3px 4px;
  text-decoration: none;
  display: block;
}

.comrades-dropdown-content a:hover {
	background-color: lightgray;
}

.window-controls {
	float: right;
}

.maximize-icon {
	border: 2px solid gray;
}

.window-controls button {
		background-color: lightgray;
		padding: 1px;
		color: gray;
}

.bar {
	font-size: 16px;
	height: 22px;
	background-color: red;
	margin: 0;
}

.pure-table td {
	border-left: none !important;
}
