<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- js framework -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- css framework -->
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<body>
<!-- mock data for user comrades family -->
<div id='app'>
<table class="pure-table">
    <thead>
        <tr>
            <th>No:</th>
            <th>Name:</th>
            <th>Gender:</th>
            <th>Year:</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for='(item, index) in userComrades.fam' class="fam-row">
            <td> {{index}}</td>
            <td>{{item}}</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<script type="text/javascript">
	const app = new Vue({
		el: '#app',
		data: {
			userComrades: {
				fam: [
					'Luz Menzinik', 
					'Titus Menzinik'
					]
			}
		}
	});
</script>

</body>
</html>