<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- js framework -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- css framework -->
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<body>
<!-- mock data for user account -->
<div id="app">
	<table class="pure-table">
    <tbody>
        <tr>
            <td class="acct-prop">Name:</td>
            <td>{{ userName }}</td>
            <td class="acct-prop">Gender:</td>
            <td>{{ gender }}</td>
            <td class="acct-prop"></td>
            <td></td>
        </tr>
        <tr>
            <td class="acct-prop">Age:</td>
            <td></td>
            <td class="acct-prop">Height:</td>
            <td></td>
            <td class="acct-prop">Weight:</td>
            <td></td>
        </tr>
        <tr>
            <td class="acct-prop">Location:</td>
            <td></td>
            <td class="acct-prop">Education Level:</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<script type="text/javascript">
	const app = new Vue({
		el: '#app',
		data: {
			userName: 'Aspen Kyle',
			gender: 'm'
		}
	});
</script>

</body>
</html>